<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Dumbways | Week 2</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="icon" href="https://www.filepicker.io/api/file/mWcP190oTCqiAo5VjrE8">
    <link rel='stylesheet' type='text/css' media='screen' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js'></script>
    <style>
        body{
            background-color: #e9ecef;
        }
        .active{
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <!-- /navigation -->
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container-fluid">
            <a class="navbar-brand d-inline-midle" href="#">
                <img src="https://www.filepicker.io/api/file/mWcP190oTCqiAo5VjrE8" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Batch 41
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/Project">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Blog">Blog</a>
                    </li>
                </ul>
            </div>
            <div class="justify-content-end navbar-collapse">
                <a href="/Contact">
                    <button type="button" class="btn btn-danger">Contact</button>
                </a>
            </div>
        </div>
    </nav>
    <!-- //content -->
    <div class="container-fluid mt-5">
        <h3 class="text-center"> My Project | Bootcamp Week 2</h3>
        <div class="row mt-3 gap-2 d-flex justify-content-center">
            {{range $index, $data := .Blog}}
            <div class="col-3 p-1">
                <a href="/Detail/{{$data.Id}}" class="text-decoration-none text-black">
                <div class="card">
                    <img src="{{$data.Gambar}}" class="card-img-top" style="height: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{$data.Title}}
                        </h5>
                        <label class="card-text text-secondary">{{$data.Format_startdate}} - {{$data.Format_enddate}}</label>
                        <label class="card-text my-2 col-sm-12" style="text-align: justify;">
                            {{$data.Deskripsi}}
                        </label>
                        <a href="#" class="btn text-black fs-5"><i class="fa fa-android"></i></a>
                        <a href="#" class="btn text-black fs-5"><i class="fa fa-windows"></i></a>
                        <a href="#" class="btn text-black fs-5"><i class="fa fa-github"></i></a>
                        <label class="align-self-center text-secondary">{{$data.Durasi}}</label>
                        <div class="row align-items-end mt-2">
                            <div class="col d-flex justify-content-end gap-2">
                                <button type="button" class="btn btn-dark" > Edit</button>
                                <a href="/Delete/{{$index}}">
                                    <button type="button" class="btn btn-dark" > Delete</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            {{end}}
        </div>
    </div>
</body>
</html>